@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    outline: none;
}

body{
    position: relative;
    overflow: hidden;
    background-color: $basicBlack;
	font-family: 'Montserrat', sans-serif;
    font-size: $font-size;
}

h3 {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
  }