@keyframes border-glow {
    0% {
        top: 0;
    }

    5% {
        top: 50%;
    }

    10% {
        top: 25%
    }
    15% {
        top: 15%
    }
    20% {
        top: 90%
    }
    25% {
        top: 10%
    }
    30% {
        top: 35%
    }
    35% {
        top: 55%
    }
    40% {
        top: 95%
    }
    45% {
        top: 45%
    }
    50% {
        top: 75%
    }
    55% {
        top: 0%
    }
    60% {
        top: 70%
    }
    65% {
        top: 25%
    }

    100% {
        top: 90%
    }
}