.intro-modal {
    &.modal-content {
        align-items: center;
        padding: 0;
        
        .glitch__wrapper {
            width: 80%;
            position: absolute;
        }

        .glitch {
            width: 100%;
            height: 100%;
            opacity: 0.5;

            img {
                width: 100%;
            }
        }

        .basic-info {
            height: 100%;
            width: 100%;
            z-index: 1;
        }
    }
}
