.offcanvas {
    background-color: $basicBlack;
    color: $white;

    &-header {
        .btn-close {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
            opacity: 1;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    &-body {
        margin-top: 2rem;
        position: relative;

        .button-section, 
        .info-section {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
            position: absolute;
            left: 0;
            padding: 1rem;

            .btn {
                width: 100%;

                &.btn-white {
                    width: calc(100% - 30px);  // because of padding
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        .button-section {
            top: 0;
            height: calc(100% - 160px);
        }

        .info-section {
            height: 20%;
            bottom: 0;
            min-height: 160px;

            p {
                margin-bottom: 0;
                font-size: 0.8rem;
                text-align: center;
            }
        }
    }
}